[submodule "src/frida-ios-dump"]
	path = src/frida-ios-dump
	url = https://github.com/miticollo/frida-ios-dump
[submodule "frida-ios-dump"]
	path = frida-ios-dump
	url = https://github.com/miticollo/frida-ios-dump
